
at.muehleder.friedmanng.data/.settings/org.eclipse.jdt.core.prefs
at.muehleder.friedmanng.data/.settings/org.eclipse.pde.core.prefs
at.muehleder.friedmanng.data/src/at/muehleder/friedmanng/data/TestMainClass.java
